.board{height: 602px;width: 602px; border: 1px solid #000; margin: 10px auto; display: flex;flex-wrap: wrap;}
.square{height: 75px;width: 75px; display: flex; justify-content: center; align-items: center;}
.square.black{background-color: #000;color: white;}
.square.white{background-color: ghostwhite;}